**/build
/gem5/configs/SRAM/
gem5_comp*
gem5_run*
parsec-2.1-alpha-files.zip
x86-system.zip
gem5-v25-0.sif
PARSEC
PARSEC_BENCHMARKS
X86_SYSTEM
gem5/configs/ARCHIVE_PARSEC_RESULTS/
gem5/configs/PARSEC/
NVSim
OUTPUT
*GRAPHS
gem5/configs/ARCHIVE_PARSEC/
